.form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
}

.form__color-description {
  align-self: center;
}

.form__color-data {
  font-size: 12px;
}

.form__input {
  padding: 10px;
  border: 1px solid #d9dbdd;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.form__input_color {
  padding: 0;
  width: 100px;
  height: 39px;
}

.form__get-color-btn {
  width: 170px;
  height: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  transition: 0.6s;
}

.form__get-color-btn:before {
  content: "";
  position: absolute;
  width: 158px;
  height: 40px;
  background-color: black;
  top: 5px;
  left: 5px;
}

.form__get-color-btn:after {
  content: "Get Color Scheme";
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: arial;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    violet,
    red,
    orange,
    yellow,
    green,
    #8fb7e9,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes move {
  to {
    background-position: 1000vh;
  }
}

.form__get-color-btn:hover {
  animation: move 30s linear infinite;
}

.form__get-color-btn:hover:after {
  animation: move 29s linear infinite;
}
