* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
}

body {
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-size: 18px;
  background: #1c1c1c;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  margin: 0px auto 40px;
}
